<ion-header>
  <ion-toolbar>
    <ion-title>Formulário Tarefa</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-input type="text" 
        placeholder="Nome"
        [(ngModel)]="nome"></ion-input>

  <ion-input type="text" 
        placeholder="Descrição"
        [(ngModel)]="descricao"></ion-input>
        
  <ion-button (click)="cadastrar()">Ok</ion-button>
</ion-content>
