<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Minha Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bem vindo</strong><br/>
    <ion-button (click)="irParaLogin()">Login</ion-button>
    
    <ion-button color="secondary" 
        (click)="irParaCadastro()">Cadastre-se</ion-button>
  </div>
</ion-content>
